# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules


# e2e playwright tests
/test-results/
/playwright-report/
/playwright/.cache/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# public file to ignore
# because they are provided at build/deploy time
/public.tbz
/public/VERSION
/public/deploy_conf.json
